# Node.js dependencies
**/node_modules
**/package-lock.json

# Logs
**/logs
**/*.log

# Build directories
**/build
**/dist

# Environment variables
**/.env

**/env

# OS files
.DS_Store
Thumbs.db

bda-hackathon-4f6d07b9c680.json