body {
    background-color: #FFFFFF;
    padding: 0;
    margin: 0;
    font-family: 'Helvetica', 'Arial', sans-serif;

}

h1, h2, h3, p {
    font-family: 'Helvetica', 'Arial', sans-serif;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

nav {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    background-color: #55AD9B;
    padding: 20px 40px;
}

nav a {
    text-decoration: none;
    color: #ffffff;
}


.nav-items {
    display: flex;
    gap: 20px;

}

hr {
    border: 1px solid #ccc; /* Light gray border */
    margin: 20px 0; /* Adds space before and after the line */
    width: 95%;
}



/* home section */

.home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.home li {
    list-style: none;
    border: 1px solid black;
    padding: 10px 5px;

    a {
        text-decoration: none;
    }
}

.home-illustration {
    width: 300px;
}

.dashboard-btns {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;

    a {
        text-decoration: none;
        color: black;
        background-color: #F1F8E8;
        width: 100%;
        padding: 15px;
        font-size: 18px;
        margin-top: 10px;
        border: 1px solid #ccc;
        text-align: center;
    }
}

/* user dashboard */
@keyframes pulse {
    0% { transform: scale(1); }
    20% { transform: scale(1.02); }
    100% { transform: scale(1); }
}

.recording-controls {
    min-width: 400px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    animation: pulse 1s; 
    animation-iteration-count: 1; 



    button:disabled {
        background-color: #ccc;
        cursor: not-allowed;
    }
}

.screens {
    display: flex;
    width: 100%;
}

.record-screen-content, .type-screen-content {
    width: 100%;
}

.screens .screens-btns {
    flex-grow: 1; 
    padding: 12px;
    font-size: 16px;
    text-align: center;
    border: none;
    margin: -20px -20px 10px;
    border: 1px solid #ccc;
}

.active-screen-btn {
    background-color: #D8EFD3;
}

.transcription-container, .type-screen-content {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.record-screen-content {
    display: flex;
    flex-direction: column;
}

.transcription-text {
    width: 90%;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-bottom: 10px;
    font-size: 16px;
    line-height: 1.5;
    margin: 10px auto 15px;

}

.transcription-text:focus {
    outline: 1px solid #ddd;
    border: 1px solid #ddd;
}

.record-btn, .stop-btn {
    background-color: #F1F8E8;
    width: 100%;
    padding: 15px;
    font-size: 18px;
    margin-top: 10px;
    border: 1px solid #ccc;
}

.submit-feedback-btn {
    background-color: #D8EFD3;
    width: 100%;
    padding: 15px;
    font-size: 18px;
    margin-top: 10px;
    border: 1px solid #ddd
}

.feedback-success-text {
    color: #55AD9B;
}

.feedback-failure-text {
    color: #D04848;
}

/* admin */
.admin-dashboard {
    img {
        width: 100%;
        max-width: 100%;
        height: auto;
    }
    
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    border-top: 1px solid #ccc;
}

/* media queries */

@media only screen and (max-width: 600px) {
    .recording-controls {
        min-width: 300px;
    }
  }